<table class="listener-grid">
  <thead>
    <tr>
      <th>Status</th>
      <th>Host</th>
      <th>Listener Name</th>
      <th>Description</th>
      <th>Action</th>
      <th>AutoStartUp</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let listener of listeners">
      <td>{{ listener.status }}</td>
      <td>{{ listener.host }}</td>
      <td>{{ listener.name }}</td>
      <td>{{ listener.description }}</td>
      <td><button>{{ listener.action }}</button></td>
      <td><input type="checkbox" [checked]="listener.autoStartup" disabled></td>
    </tr>
  </tbody>
</table>
