<header class="fixed-header">
<div class="header-slider">
  <div class="slider-wrapper">
    <!-- <img class="slider-logo" src="assets/img1.jpg" alt="Filigree Logo"> -->
    <button class="slider-arrow left-arrow" (click)="prevSlide()">&#8592;</button>
    <img *ngFor="let img of sliderImages; let i = index"
         [src]="img"
         [alt]="'Slide ' + (i+1)"
         [class]="'slider-image'"
          [class.active]="i === currentSlide"
         (click)="openPopup(i)">
    <button class="slider-arrow right-arrow" (click)="nextSlide()">&#8594;</button>
   
  </div>
  <!-- <div class="slider-controls">
  </div> -->
  <div class="tools-bar">
  <nav class="tools-tabs">
    <a 
      class="tools-tab" 
      [class.active]="activeTab === 'viewer'"
      routerLink="/" 
      (click)="activeTab = 'viewer'" 
      href="javascript:void(0);">
      Queue Message Viewer
    </a>
    <a 
      class="tools-tab" 
      [class.active]="activeTab === 'admin'" 
      routerLink="/listener"
      (click)="activeTab = 'admin'">
      Queue Admin
    </a>
  </nav>
  <!-- <h1>Filigree Application</h1> -->
</div>
  
</div>
</header>

<body>
  <h1>Welcome to Filigree</h1>
  <p>Your content goes here.</p>
<main class="main-content">
      <router-outlet></router-outlet><!-- Main content goes here -->
</main></body>


<footer class="fixed-footer">
  <p>&copy; 2025 Filigree. All rights reserved.</p>
</footer>